<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="index/index.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="contenido">
  <header>
  <div class="headertitulo"><p>LightIt</p></div>
  <button> <div class="headertienda"> <p>Tienda</p></div></button>
  <button> <div class="headersobrenosotros"><p>Contacto</p></div></button>
  <!-- <div class="gifmechero"><img alt="" src="/img/mechero_gif.gif"></div> -->
  </header>
	 <main><div class="contenedormain"><ul class="galeria">
    <li class="slideuno"><img src="/img/slideruno.PNG" alt="" srcset=""></li>
    <li class="slidedos" ><img src="/img/slider1.PNG" alt="" srcset=""></li>
    <li class="slidetres" ><img src="/img/slider1.PNG" alt="" srcset=""></li>
  </ul></div></main>	
   <footer><div class="footer"></div></footer>
  </div>
 </body>
 <script src="index/index.js"></script>
</html>