<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightIt | Galeria de colecciones</title>
    <link rel="stylesheet" type="text/css" href="/tienda/tienda.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenido">
        <header>
          <div class="headertitulo"><p>LightIt</p></div>
        </header>
	 <div class="tituloanimacion">
   		<div class='hello' style='color: #7c4dff'>colecciones</div>
		<div class='hello' style='color: #0091ea'>colecciones</div>
		<div class='hello' style='color: #ff9100'>colecciones</div>
		<div class='hello' style='color: #ff1744'>colecciones</div>
	 </div>
     <div class="subtitulo"> <span>Echa un vistazo a nuestras colecciones</span></div>
    <div class="galeria">
        <div class="grid-contenedor">
            <div class="container3"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container1"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container2"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container4"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container5"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container6"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
            <div class="container7"><div class="containerextra"></div><span>Texto de ejemplo</span></div>
        </div>
    </div>
    </div>
</body>

</html>
